%form#form_div{'name'          => 'angularForm',
               'ng-controller' => 'networkRouterFormController as vm',
               'ng-cloak'      => '',
               'miq-form'      => true,
               'form-changed'  => true,
               'model'         => 'vm.networkRouterModel',
               'model-copy'    => 'vm.modelCopy',
               'ng-show'       => 'vm.afterGet'}

  = render :partial => 'layouts/flash_msg'

  = render :partial => "common_new_edit"

-# C2C provider : for fetching network manager id.
:javascript
  ManageIQ.angular.app.value('networkRouterFormId', 'new');
  ManageIQ.angular.app.value('networkManagerId', '#{@network_manager.try(:id).to_s || "undefined"}');
  miq_bootstrap('#form_div');
